<app-navbar></app-navbar>

<div class="grid-container bg-slate-200 h-screen">
  <div class="tools-container my-3 flex justify-end">
    <button
      mat-raised-button
      [matMenuTriggerFor]="menu"
      color="primary"
      class="mx-2"
    >
      Add
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="navigateToContractForm()">Contract</button>
      <button mat-menu-item (click)="navigateToClaimForm()">Claim</button>
    </mat-menu>

    <form
      action="
    "
      class="inline"
    >
      <input
        matInput
        (keyup)="applyFilter($event)"
        type="text"
        name=""
        id=""
        placeholder="Search for a claim..."
        class="rounded border p-2 h-10 w-64 shadow-md"
      />
    </form>
  </div>
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    class="mat-elevation-z8 mb-4"
  >
    <div *ngIf="claims.length == 0" class="p-4 flex justify-center">
      <p>No claims to show.</p>
    </div>
    <ng-container matColumnDef="claimNum">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Claim N°</th>
      <td mat-cell *matCellDef="let claim">{{ claim.claimNum }}</td>
    </ng-container>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="displayedColumns.length">
        <div class="p-2 flex justify-center">
          Sorry, no claims matching your search were found.
        </div>
      </td>
    </tr>

    <ng-container matColumnDef="accidentDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Accident Date</th>
      <td mat-cell *matCellDef="let claim">
        {{ claim.accidentDate | date : "MMMM d, yyyy 'at' hh:mm a (zzzz)" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="creationDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Created on</th>
      <td mat-cell *matCellDef="let claim">
        {{ claim.creationDate | date : "MMMM d, yyyy 'at' hh:mm a " }}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let claim">{{ claim.status }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let claim">
        <button mat-button [matMenuTriggerFor]="menu">
          <fa-icon [icon]="faElipsisVertical"></fa-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="navigateToClaimEdit(claim.claimId)">
            Edit
          </button>
          <button mat-menu-item (click)="navigateToClaimDetails(claim.claimId)">
            Details
          </button>
          <button mat-menu-item (click)="openDialog(claim.claimId)">
            Delete
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
